<div class="feedbackComponent hidden">
	<div class="componentContent">
		<div class="feedbackForm">
	        <h1>Your rating</h1>
	        <div class="stars">
	        	<input type="radio" name="rating" id="star5" value="5" />
	        	<label for="star5">
		            <i class="ion-ios-star-outline"></i>
		            <i class="ion-ios-star"></i>
		        </label>

		        <input type="radio" name="rating" id="star4" value="5" />
	        	<label for="star4">
		            <i class="ion-ios-star-outline"></i>
		            <i class="ion-ios-star"></i>
		        </label>

		        <input type="radio" name="rating" id="star3" value="5" />
	        	<label for="star3">
		            <i class="ion-ios-star-outline"></i>
		            <i class="ion-ios-star"></i>
		        </label>

		        <input type="radio" name="rating" id="star2" value="5" />
	        	<label for="star2">
		            <i class="ion-ios-star-outline"></i>
		            <i class="ion-ios-star"></i>
		        </label>

		        <input type="radio" name="rating" id="star1" value="5" />
	        	<label for="star1">
		            <i class="ion-ios-star-outline"></i>
		            <i class="ion-ios-star"></i>
		        </label>
	        </div>
			<h1>Your feedback</h1>
			<textarea class="message" rows="3" placeholder="Enter your message"></textarea>
			<div class="buttonGroup">
				<button class="button submit">Send</button>
				<button class="button clear cancel">Cancel</button>
			</div>
			<p>
				You can also write to 
				<a href="mailto:support@lernity.com">support@lernity.com</a> 
				for help.
			</p>
		</div>			
	</div>
</div>
<link rel="stylesheet" type="text/css" href="./javascript/components/feedback/feedback.css">  